@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fafafa;
  width: 100%;
  overflow-x: hidden;
  color: #333333;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

li {
  list-style-type: none;
  color: #999;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
}
.two {
  background-color: #34adff;
  background-image: -webkit-linear-gradient(150deg, #f5f5f5 55%, #c3ad2e 45%);
  min-height: 400px;
}
.dashboard {
  background: #f0f0f0;
  width: 100%;
}

.sidebar {
  width: 100%;
  max-width: 229px;
  /* height: 100vh; */
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: block;
}
.mobile-menu {
  display: none;
}
@media screen and (max-width: 860px) {
  .sidebar {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

.sidebar .active {
  color: #c3ad2e;
  border-left: 4px solid #c3ad2e;
}
.agenda-card {
  width: 100%;
  max-width: 420px;
  height: 150px;
  border-top: 4px solid #c3ad2e;
  background: white;
  border-radius: 4px;
}
.activity-card {
  width: 100%;
  max-width: 380px;
  /* height: 180px; */
  border-top: 4px solid #c3ad2e;
  background: white;
  border-radius: 4px;
}
.status {
  border-left: 2px solid #c3ad2e;
  font-size: 10px;
  /* background-image: url(); */
}
/* Table  */

thead tr:first-child {
  border-top: none;
  border-bottom: 1px solid #c3ad2e;
  background-color: rgb(242, 219, 219);
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}
.list:hover {
  background-color: rgb(242, 219, 219);
  border-left: 2px solid #c3ad2e;
}
/* bable */
@media screen and (max-width: 601px) {
  .client-table {
    padding-left: 10px;
    padding-right: 10px;
  }
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
  .rwd-table th,
  .rwd-table td {
    text-align: center;
  }
  .agenda-card {
    width: 100%;
    height: 100%;
    margin-right: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: rgb(242, 219, 219);
    border-left: 2px solid #c3ad2e;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    /* padding: 0.25em 0.5em; */
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
